{% extends "base.html" %}
{% block content %}

    <!-- <div class="container"> -->
        {% if data_list|length>0 %}
            <span  class="badge badge-success col-12"><h2>Please choose the image and submit.</h2></span>
            <!-- <div class="row"> -->
                {% for img_obj in data_list %}
                    {% include 'img_object_.html' %}
                {% endfor %}
            </div>
        {% else %}  
            <span  class="badge badge-danger col-12" style="margin: 3rem auto"><h2>No file in the database</h2></span>
        {% endif %}
    <!-- </div> -->
        
       
    
    <script>
        function update(){
            $(function(){
            $.ajax({
                type: "POST",
                url: "/index",
                success: function(response) {
                    console.log('success');
                },
                error: function(xhr) {
                //Do Something to handle error
                }
                });
            });
        }
        refresh_interval = 15; // minutes
        update();
        setInterval(update,refresh_interval*60000);

    </script>
{% endblock %}